* {
  margin: 0px;
}
*{
  box-sizing: border-box;
}

// MEDIA QUERY RANGES

$medium: "only screen and (min-width:400px)";
$large: "only screen and (min-width:600px)";

$colorVariable: #C1A385;

@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);


$colorVariable: #F8FEEE;
$poiret-one: 'Poiret One';

//========== LANDING PAGE ===============//

.landingPage {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #D7E0D9;
}

.title {
  height: auto;
  flex: 0 0 50%;
  // border: 1px solid blue;
  text-align: center;
  font-family: 'Rock Salt', cursive;
  color: #34693F;
}

.mainPic {
  flex: 0 1 90%;
  background-image: fill;
  // border: 1px solid red;
}

.mainPic img {
  flex-shrink: 0;
  min-height: auto;
  min-width: 100%;
  border-radius: 5px;
}

.navBar {
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 90%;
  justify-content: space-between;
  // border: 1px solid brown;
}

.landingPageNav {
  text-decoration: none;
}

.button {
  height: 30px;
  width: 100px;
  background: #9dcca6;
  background-image: -webkit-linear-gradient(top, #9dcca6, #e1ede5);
  background-image: -moz-linear-gradient(top, #9dcca6, #e1ede5);
  background-image: -ms-linear-gradient(top, #9dcca6, #e1ede5);
  background-image: -o-linear-gradient(top, #9dcca6, #e1ede5);
  background-image: linear-gradient(to bottom, #9dcca6, #e1ede5);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 10px #666666;
  -moz-box-shadow: 0px 1px 10px #666666;
  box-shadow: 0px 1px 10px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
  flex-grow: 1;
  margin: 10px;
}


.button.login {
  // border: 1px solid purple;
}

.button.register {
  // border: 1px solid green;
}

.button.galleries {
  // border: 1px solid yellow;
  padding: 10px;
  text-decoration: none;
}

//=========== STATIC PAGE ===============//
body {
  background-image: url(http://www.leeminhoworld.com/images/bckg/body-bg/watercolor.jpg);
  background-size: cover;
}

.topbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.mainPageButton {
  // background-color: blue;
  display: flex;
  padding-left: 3%;
  margin-bottom: -9px;
  border-top: 10px solid #666666;

  @media #{ $large } {
    margin-bottom: -5px;
    padding-left: 5%;
  }

}
.logoutForm {
  margin-left: -15px;
}
.textStyle {
  color: #666666;
  word-wrap: break-word;
  text-shadow: 1px 3px 5px #666666;
  font-family: $poiret-one;
}
.mainHeader {
  background-image: linear-gradient(to bottom, #9dcca6, #e1ede5);
  font-family: $poiret-one;
  justify-content: center;
  text-shadow: 1px 3px 5px #666666;
  color: white;
  font-size: 20px;
  padding: 5%;
}
.wholeGalleryWrapper {
  box-shadow: 0px 5px 10px #666666;
  background-color: white;
  margin: auto;
  padding-bottom: 7%;
  width: 90%;
}

.postLogButton {
  height: 40px;
  width: 100px;
  background: #9dcca6;
  background-image: -webkit-linear-gradient(top, #9dcca6, #e1ede5);
  background-image: -moz-linear-gradient(top, #9dcca6, #e1ede5);
  background-image: -ms-linear-gradient(top, #9dcca6, #e1ede5);
  background-image: -o-linear-gradient(top, #9dcca6, #e1ede5);
  background-image: linear-gradient(to bottom, #9dcca6, #e1ede5);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 10px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 10px #666666;
  -moz-box-shadow: 0px 1px 10px #666666;
  box-shadow: 0px 1px 10px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  flex-grow: 1;
  margin: 10px;
}

.postLogButton:hover {
  color: #9dcca6;
}

//========= STATIC PHOTO =============//

.topPage {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  @media #{ $large } {

  }
}
.pLayout {
  display: none;
  font-family: $poiret-one;

  @media #{ $large } {
    text-align: justify;
    padding: 3% 6% 3% 3%;
    width: 50%;
    display: block;
    color: #666666;
    font-size: 18px;
    line-height: 19px;
  }
}
.imgDiv {
  transition: all 1s ease;

  @media #{ $large } {
    padding: 0% 3% 2% 5%;
    width: 50%;
  }
}
.mainImage {
  width: 100%;
  transition: all 1s ease;
}

//========= EACH PHOTO CONTENT =======

.photoTitle {
  font-size: 30px;
  color: #666666;

  @media #{ $large } {
    font-size: 25px;
  }
}

.thumbnailImages {

  @media #{ $large } {
    margin: 0% 5% 5% 5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
.titlePhotoDiv {

  @media #{ $large } {
    flex-flow: row wrap;
    margin-top: 10px;
    padding: 2%;
  }
}
.uploadedPhoto {
  margin-top: 2%;
  border: 5px double #666666;
  width: 100%;

  @media #{ $large } {
    height: 220px;
    width: 320px;
  }
}
.uploadedPhoto:hover {
  border: 8px double #9dcca6;
}


//========= NEW FORM ==================//
.formWrapper {
  border: 2px solid black;
  padding: 5%;
  background: #9dcca6;
  background-image: -webkit-linear-gradient(top, #9dcca6, #e1ede5);
  background-image: -moz-linear-gradient(top, #9dcca6, #e1ede5);
  background-image: -ms-linear-gradient(top, #9dcca6, #e1ede5);
  background-image: -o-linear-gradient(top, #9dcca6, #e1ede5);
  background-image: linear-gradient(to bottom, #9dcca6, #e1ede5);
}

.inputTextName {

}

div.inputTextName {
  font-family: $poiret-one;
  font-size: 30px;
}

.submitButton {
  height: 40px;
  width: 100px;
  background: #9dcca6;
  background-image: -webkit-linear-gradient(top, #9dcca6, #e1ede5);
  background-image: -moz-linear-gradient(top, #9dcca6, #e1ede5);
  background-image: -ms-linear-gradient(top, #9dcca6, #e1ede5);
  background-image: -o-linear-gradient(top, #9dcca6, #e1ede5);
  background-image: linear-gradient(to bottom, #9dcca6, #e1ede5);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 10px #666666;
  -moz-box-shadow: 0px 1px 10px #666666;
  box-shadow: 0px 1px 10px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  flex-grow: 1;
  margin: 10px;
}

.submitButton:hover {
  color: #9dcca6;
}

//=== SINGLE PHOTO /gallery/:id ========//

.textLink {
  font-size: 16px;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  padding-bottom: 2%;
  margin-bottom: 5%;
  padding-top: 2%;
  margin-top: 2%;
}
.singleImage {
  box-shadow: 2px 2px 20px 2px #666666;
  width: 100%;
}
.editNdeletBtn {
  // background-color: blue;
  display: flex;
  flex-flow: row nowrap;
  // padding: 5%;
}
.singlePhotoPar {
  box-shadow: 0px 5px 10px #666666;
  text-align: justify;
  font-family: $poiret-one;
  padding: 5%;
  background-color: white;
  padding-top: 5%;
  font-size: 18px;
}
.buttonBar {
  // background-color: green;
  display: flex;
  flex-flow: row wrap;
  padding: 1% 0% 5% 0%;
  // border: 1px solid red;
}
.singleButtonStyle {
  height: 30px;
  width: 100px;
  background: #9dcca6;
  background-image: -webkit-linear-gradient(top, #9dcca6, #e1ede5);
  background-image: -moz-linear-gradient(top, #9dcca6, #e1ede5);
  background-image: -ms-linear-gradient(top, #9dcca6, #e1ede5);
  background-image: -o-linear-gradient(top, #9dcca6, #e1ede5);
  background-image: linear-gradient(to bottom, #9dcca6, #e1ede5);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 10px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 10px #666666;
  -moz-box-shadow: 0px 1px 10px #666666;
  box-shadow: 0px 1px 10px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  flex-grow: 1;
  // margin: 10px;
}

.editButton:hover {
  color: #9dcca6;
}
.deleteButton:hover {
  color: #9dcca6;
}
.backButton:hover {
  color: #9dcca6;
}

.thumbWrapper {
  display: none;

  @media #{ $large } {
    // background-color: green;
    display: block;
    padding: 3%;
    height: 1000px;
    width: 550px;
    overflow-x: hidden;
    // margin-top: 10%;

    ::-webkit-scrollbar-track {
        background-color: #b46868;
    }
  }
}
.mainPhotoWrapper {
  padding-right: 5%;
  padding-left: 5%;
}

@media #{ $large } {
  .textWrap {
    padding: 5%;
  }
  .featureNthumbs {
    display: flex;
    // border: 2px solid red;
    flex-flow: row nowrap;
    padding: 5%;


  }
  .mainPhotoWrapper {
  // background-color: pink;
  flex-flow: row wrap;
    padding: 5% 0% 5% 0%;
    width: 100%;
    // margin: 5% 0% 5% 5%;
  }
}

