* {
  margin: 0px;
}

$colorVariable: #C1A385;

@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);


$colorVariable: #F8FEEE;
$poiret-one: 'Poiret One';

//=========== STATIC PAGE ===============//
body {
  background-image: url(http://www.leeminhoworld.com/images/bckg/body-bg/watercolor.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mainHeader {
  background-color: #9dcca6;
  opacity: 0.3;
  font-family: $poiret-one;
  font-size: 25px;
  padding: 5%;
  margin-bottom: 20px;
}

//========== LANDING PAGE ===============//

.landingPage {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #D7E0D9;
}

.title {
  height: auto;
  flex: 0 0 50%;
  // border: 1px solid blue;
  text-align: center;
  font-family: 'Rock Salt', cursive;
  color: #34693F;
}

.mainPic {
  flex: 0 1 90%;
  background-image: fill;
  // border: 1px solid red;
}

.mainPic img {
  flex-shrink: 0;
  min-height: auto;
  min-width: 100%;
  border-radius: 5px;
}

.navBar {
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 90%;
  justify-content: space-between;
  // border: 1px solid brown;
}

.landingPageNav {
  text-decoration: none;
}

.button {
  height: 30px;
  width: 100px;
   background: #9dcca6;
  background-image: -webkit-linear-gradient(top, #9dcca6, #e1ede5);
  background-image: -moz-linear-gradient(top, #9dcca6, #e1ede5);
  background-image: -ms-linear-gradient(top, #9dcca6, #e1ede5);
  background-image: -o-linear-gradient(top, #9dcca6, #e1ede5);
  background-image: linear-gradient(to bottom, #9dcca6, #e1ede5);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 10px #666666;
  -moz-box-shadow: 0px 1px 10px #666666;
  box-shadow: 0px 1px 10px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
  flex-grow: 1;
  margin: 10px;
}


.button.login {
  // border: 1px solid purple;
}

.button.register {
  // border: 1px solid green;
}

.button.galleries {
  // border: 1px solid yellow;
  padding: 10px;
  text-decoration: none;
}


//========= ALL PHOTOS =============//

.topPage {
  display: flex;
  flex-flow: row wrap;
}

.mainPageButton {
  margin: auto;
}
.mainImage {
  margin: auto;
  // background-color: blue;
  width: 700px;
  height: auto;
  padding-bottom: 10px;
}

body.wholeGallery {
  background-color: white;
}

//========= EACH PHOTO CONTENT =======
h4 {
  font-family: $poiret-one;
  font-size: 30px;
  margin-bottom: 5px;
}

.thumbnailImages {
  // background-color: yellow;
  display: flex;
  flex-flow: row wrap;
  padding: 10px 5%;
}

.eachPhotoContent {
  margin: auto;
  // background-color: purple;
  margin-bottom: 20px;
}

.uploadedPhoto {
  height: 300px;
  width: 300px;
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border: 6px double #AF9F98;
}

.photoDescription {

}


//========= NEW FORM ==================//
div.inputTextName {
  font-family: $poiret-one;
  background-color: orange;
  font-size: 30px;
}

//=== SINGLE PHOTO /gallery/:id ========//


.singlePageContent {
  display: flex;
  flex-flow: row wrap;
  // background-color: gray;
  margin: auto;
}
.singleImage {
  margin: auto;
  height: 70%;
  width: 70%;
}

.singlePageDescription {
  background-color: pink;
  height: 70%;
  margin: auto;
}

.singlePageButtons {

}