* {
  margin: 0px;
  box-sizing: border-box;
  color: lighten(#666, 20%);
}

$small: "only screen and (max-width:400px)";
$medium: "only screen and (max-width:700px)";
$mainGray: #666666;

@import url(https://fonts.googleapis.com/css?family=Russo+One);

// Landing Page

.mainPic {
    img {
    position: fixed;
    width: 100%;
  }
}

.title {
  position: absolute;
  z-index: 2;
  width: 100%;
  min-height: 50px;
  background-color: rgba(#343E3E, 0.7);
  text-align: center;
  top: 30rem;
  p {
    font-family: "Russo One", sans;
    font-size: 50px;
  }
}

// Header
.spaceHeader {
  border-bottom: 1px dotted $mainGray;
  padding-bottom: 4rem;
}

.topHeader {
  display: flex;
  margin: 1rem 0rem;
  .mainHeader {
    margin: auto;
    h1 {font-family: "Russo One", sans;}
  }

  .outlinePar {
    width: 20rem;
    min-height: 30px;
    border-left: 1px dotted $mainGray;
    padding-left: 10px;

    @media #{$small} {display: none;}
    @media #{$medium} {display: none;}
  }
}

// Layout
.topPage {
  img {
    width: 100%;
    max-height: 370px;
    padding-bottom: 2rem;
    border-bottom: 1px dotted $mainGray;

  }
}

.mainPageButton {
  display: flex;
}

// All Photots
.thumbnailImages {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.uploadedPhoto {
  margin-top: 2rem;
  width: 320.22px;
  height: 200px;
  -webkit-filter: invert(0.2);
  &:hover {-webkit-filter: none;}
}

// Forms

.form-style-8{

    padding: 30px;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8 h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}

// single image
.featureNthumbs {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  margin-bottom: 10rem;

  @media #{$medium} {flex-flow: row wrap;}
}

.buttonBar {display: flex; margin: 1rem;}
.editNdeletBtn {display: flex;}
.singleImage {width: 100%;}

.mainPhotoWrapper {
  max-height: 50rem;

}
.thumbWrapper {
  justify-content: space-between;
  width: 100%;
  max-height: 38rem;
  overflow-x: hidden;
  margin: 0 1rem;
  @media #{$medium} {display: none;}
}
