@import url(https://fonts.googleapis.com/css?family=Russo+One);
* {
  margin: 0px;
  box-sizing: border-box;
  color: #999999;
  transition: all 1s ease; }

.mainPic {
  background-image: url("http://a.fastcompany.net/multisite_files/coexist/imagecache/1280/article_feature/1280-boston-ma-smart-city.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.title {
  position: absolute;
  z-index: 5;
  height: 100%;
  width: 14em;
  background-color: rgba(58, 19, 4, 0.3); }
  .title p {
    font-family: 'Russo One', sans-serif;
    font-size: 25px; }

.topHeader {
  display: flex; }
  .topHeader .mainHeader {
    text-shadow: 1px 3px 5px #666666;
    color: #666666;
    margin: auto; }
    .topHeader .mainHeader h1 {
      font-family: 'Russo One', sans-serif; }
      @media only screen and (min-width: 700px) {
        .topHeader .mainHeader h1 {
          margin: auto 30px; } }
      @media only screen and (min-width: 900px) {
        .topHeader .mainHeader h1 {
          margin: auto 100px; } }
  .topHeader .outlinePar {
    flex: 1 0 13%;
    display: none;
    border-left: 1px dotted #666666;
    padding: 10px;
    font-size: 12px;
    margin: auto; }
    @media only screen and (min-width: 700px) {
      .topHeader .outlinePar {
        display: block; } }
    @media only screen and (min-width: 900px) {
      .topHeader .outlinePar {
        flex: 1 0 30%; } }

.navBar {
  z-index: 6;
  display: flex;
  flex-flow: column wrap;
  float: right; }

body {
  background-size: cover; }

.topbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.mainPageButton {
  display: flex;
  padding-left: 3%; }

.spaceHeader {
  height: 6em;
  border-bottom: 1px dotted #666666;
  margin-bottom: 16px; }

.topPage img {
  height: 25em;
  width: 60em; }

.imgDiv {
  transition: all 1s ease; }
  @media only screen and (min-width: 700px) {
    .imgDiv {
      padding: 0% 3% 2% 5%;
      width: 50%; } }

.mainImage {
  width: 100%;
  transition: all 1s ease; }

.photoTitle {
  color: #999999; }

.thumbnailImages {
  display: flex;
  flex-flow: row wrap; }

.titlePhotoDiv {
  border-top: 1px dotted #666666;
  margin-bottom: 20px; }

.uploadedPhoto {
  margin-top: 2%;
  border: 5px double transparent;
  width: 300px;
  height: 200px;
  -webkit-filter: invert(0.1); }

.uploadedPhoto:hover {
  -webkit-filter: invert(0); }

div.inputTextName {
  border: 2px solid blue; }

.form-style-8 {
  padding: 30px;
  margin: 50px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22); }

.form-style-8 h2 {
  background: #4D4D4D;
  text-transform: uppercase;
  font-family: 'Russo One', sans-serif;
  color: #797979;
  font-size: 18px;
  font-weight: 100;
  padding: 20px;
  margin: -30px -30px 30px -30px; }

.form-style-8 input[type="text"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px; }

.form-style-8 textarea {
  resize: none;
  overflow: hidden; }

.loginImg img {
  -webkit-filter: blur(3px) brightness(1.2);
  width: 100%; }

.textLink {
  margin-bottom: 5%; }

.singleImage {
  box-shadow: 2px 2px 20px 2px #666666;
  width: 100%; }

.editNdeletBtn {
  display: flex;
  flex-flow: row nowrap; }

.singlePhotoPar {
  text-align: justify;
  font-size: 12px; }

.buttonBar {
  display: flex;
  flex-flow: row wrap;
  padding: 1% 0% 5% 0%; }

@media only screen and (min-width: 700px) {
  .thumbWrapper {
    display: block;
    padding: 3%;
    height: 44em;
    width: 450px;
    overflow-x: hidden;
    margin-top: 10%; }
    .thumbWrapper ::-webkit-scrollbar-track {
      background-color: #b46868; } }

.mainPhotoWrapper {
  padding-right: 5%;
  padding-left: 5%; }

@media only screen and (min-width: 700px) {
  .textWrap {
    padding: 5%; }
  .featureNthumbs {
    display: flex; }
  .mainPhotoWrapper {
    flex-flow: row wrap;
    padding: 5% 0% 5% 0%;
    width: 100%; } }

@media only screen and (max-width: 940px), only screen and (max-device-width: 940px) {
  border: 2px solid red; }

@media only screen and (max-width: 720px), only screen and (max-device-width: 720px) {
  border: 2px solid yellow; }

@media only screen and (max-width: 530px), only screen and (max-device-width: 530px) {
  border: 2px solid blue; }

@media only screen and (max-width: 320px), only screen and (max-device-width: 320px) {
  border: 2px solid green; }
