@import url(https://fonts.googleapis.com/css?family=Russo+One);
* {
  margin: 0px;
  box-sizing: border-box;
  color: #999999;
  transition: all 0.5s ease; }

.mainPic img {
  position: fixed;
  width: 100%; }

.title {
  position: absolute;
  z-index: 2;
  width: 100%;
  min-height: 50px;
  background-color: rgba(52, 62, 62, 0.7);
  text-align: center;
  top: 30rem; }
  .title p {
    font-family: "Russo One", sans;
    font-size: 50px; }

.spaceHeader {
  border-bottom: 1px dotted #666666;
  padding-bottom: 4rem; }

.topHeader {
  display: flex;
  margin: 1rem 0rem; }
  .topHeader .mainHeader {
    margin: auto; }
    .topHeader .mainHeader h1 {
      font-family: "Russo One", sans; }
  .topHeader .outlinePar {
    width: 20rem;
    min-height: 30px;
    border-left: 1px dotted #666666;
    padding-left: 10px; }
    @media only screen and (max-width: 400px) {
      .topHeader .outlinePar {
        display: none; } }
    @media only screen and (max-width: 700px) {
      .topHeader .outlinePar {
        display: none; } }

.topPage img {
  width: 100%;
  max-height: 370px;
  padding-bottom: 2rem;
  border-bottom: 1px dotted #666666; }

.mainPageButton {
  display: flex; }

.thumbnailImages {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

.uploadedPhoto {
  margin-top: 2rem;
  width: 320.22px;
  height: 200px;
  -webkit-filter: invert(0.2); }
  .uploadedPhoto:hover {
    -webkit-filter: none; }

.form-style-8 {
  padding: 30px;
  margin: 50px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22); }

.form-style-8 h2 {
  background: #4D4D4D;
  text-transform: uppercase;
  font-family: 'Russo One', sans-serif;
  color: #797979;
  font-size: 18px;
  font-weight: 100;
  padding: 20px;
  margin: -30px -30px 30px -30px; }

.form-style-8 input[type="text"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px; }

.form-style-8 textarea {
  resize: none;
  overflow: hidden; }

.featureNthumbs {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  margin-bottom: 10rem; }
  @media only screen and (max-width: 700px) {
    .featureNthumbs {
      flex-flow: row wrap; } }

.buttonBar {
  display: flex;
  margin: 1rem; }

.editNdeletBtn {
  display: flex; }

.singleImage {
  width: 100%; }

.mainPhotoWrapper {
  max-height: 50rem; }

.thumbWrapper {
  justify-content: space-between;
  width: 100%;
  max-height: 38rem;
  overflow-x: hidden;
  margin: 0 1rem; }
  @media only screen and (max-width: 700px) {
    .thumbWrapper {
      display: none; } }

@media only screen and (max-width: 940px), only screen and (max-device-width: 940px) {
  body {
    border: 2px solid red; } }

@media only screen and (max-width: 720px), only screen and (max-device-width: 720px) {
  body-border: 2px solid yellow; }

@media only screen and (max-width: 530px), only screen and (max-device-width: 530px) {
  body-border: 2px solid blue; }

@media only screen and (max-width: 320px), only screen and (max-device-width: 320px) {
  body-border: 2px solid green; }
