<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  link(rel="stylesheet" href="./../css/styles.css")
  title Login
body
  form(method="POST" action="/login")
    div.inputTextName Username&nbsp
      input(type="text" name="username")
    div.inputTextName Password&nbsp&nbsp
      input(type="password" name="password")
    button.editButton(type="submit") Login