extends ./../layout


block content
  .thumbnailImages
    each photo in gallery
      .eachPhoto
        a(href='gallery/#{photo.id}')
          img.uploadedPhoto(src='#{photo.link}')

        .photoTitle.textStyle.truncate
          p #{photo.title}

        //- div.photoDescription
          p #{photo.description}