doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="/css/styles.css")
    title
  body
    .formWrapper
      form(name="new_photo", method="POST", action="/gallery")
        input(type="hidden", name="_method", placeholder="POST")
        div.inputTextName Title&nbsp
          input(type="text", name="title", placeholder="Enter Title" autofocus)
        .inputTextName Link&nbsp
          input(type="text", name="link", placeholder="Enter URL")
        .inputTextName Description&nbsp
          input(type="text", name="description", placeholder="Description of photo")

          input.submitButton(type="submit" name="submit" value="Submit")