doctype html
html(lang="en")
  head
    style
      include ./../public/css/style.css
      title
  body
    h1 Welcome to our page, now get out!
    div.mainPic
      img(src='http://www.placeholder.org/images/Placeholder-NameIs-LogoLinks.gif')
      block content
