btn"en")
  head
    link(rel="stylesheet" href="/css/styles.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title
  body
    .container
      .spaceHeader
      .topHeader
        .mainHeader
          h1 _City Lights
        .outlinePar
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consequuntur laborum error sapiente, velit corrupti sed, officiis non sint sunt. Nemo vitae molestias, adipisci quidem temporibus. Optio neque ut ullam!
      .mainPageButton.right
        form.postForm(method="GET", action="/gallery/new")
          button.btn.btn-flat(type="submit", value="submit") Post New

        form.logoutForm(method="GET", action="/users/logout")
          button.btn.btn-flat(type="submit", value="submit") Logout

      .topPage
        img.mainImage(src='http://www.mymusicisbetterthanyours.com/wp-content/uploads/2014/05/san-fran-night.jpg')

      block content

  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  script window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
