doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="/css/styles.css")
    title
  body
    h1 Welcome to our page, now get out!
    div.mainImage
      img(src='http://gibraltarunitedfc.com/images/placeholders/500x500.jpg')
    div.allImage
      block content
