doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="/css/styles.css")
    title
  body
    h1 Welcome to our page, now get out!
    div.mainPic
      img(src='http://www.placeholder.org/images/Placeholder-NameIs-LogoLinks.gif')
      block content
