doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="/css/styles.css")
    title
  body
    div.topbar.mainHeader
      h1 Welcome to our page, now get out!

      div.topbar.mainPageButton
        //button to post new image
        form.button.layoutButton(method="GET", action="/gallery/new")
          button(type="submit", value="submit") Post New

        //button to log out
        form.button.layoutButton(method="GET", action="/home")
          button(type="submit", value="submit") Logout

    div.topPage
      img.mainImage(src='http://hdwallpaperbackgrounds.net/wp-content/uploads/2015/07/9-Beautiful-HD-Wallpapers-0.jpg')

    div.block.thumbnailImages
      block content
