doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="/css/styles.css")
  body.landingPage
    div.title
      h1 Nature is Ama-Zen!!!
    div.mainPic
      img(src='http://nipunscorp.com/wp-content/uploads/2012/12/British-Columbia.jpg')
    div.navBar
      a.landingPageNav(href="http://localhost:7766/users/login")
        div.button.login Login
      a.landingPageNav(href="http://localhost:7766/users/register")
        div.button.register Register
      a.landingPageNav(href="http://localhost:7766/gallery")
        div.button.galleries Galleries