doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="/css/styles.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body.landingPage
    div.title
      h1 Express Gallery
      div.navBar
        a#login.landingPageNav(href="http://localhost:7766/users/login")
          div.waves-effect.waves-light.btn-flat.right Login
        a#register.landingPageNav(href="http://localhost:7766/users/register")
          div.waves-effect.waves-light.btn-flat.right Register
    div.mainPic
      img(src='http://a.fastcompany.net/multisite_files/coexist/imagecache/1280/article_feature/1280-boston-ma-smart-city.jpg')


  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
      script window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
