doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="/css/styles.css")
  body.landingPage
    div.title
      h1 Nature is Ama-Zen!!!
    div.mainPic
      img(src='http://nipunscorp.com/wp-content/uploads/2012/12/British-Columbia.jpg')
    div.buttonBar
      div.button.login Login
      div.button.register Register
      div.button.galleries
        form(method="GET", action="/gallery")
          button(type="submit", value="submit") Galleries