form(name="new_photo", method="POST", action="/gallery")
  div.author Author&nbsp:&nbsp
    input(type="text", name="author", placeholder="..." autofocus)
  div.link Link&nbsp:&nbsp
    input(type="text", name="link", placeholder="...")
  div.description Description&nbsp:&nbsp
    input(type="text", name="description", placeholder="...")
  div.submit
    input(type="submit", value="submit")
