doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="./../css/styles.css")
    title

  body
    each photo in gallery
      h4 #{photo.title}

      div.singleBlock.singlePageButtons
        form.editButton(method="GET", action="/gallery/#{photo.id}/edit")
          button(type="submit", value="submit") edit

        form.deleteButton(name="delete-photo", method="POST", action="/gallery")
          input(type="hidden", name="_method", value="DELETE")
          button(type="submit", value="submit") delete

      div.singleBlock
        img.singleImage(src='#{photo.link}')


      div.singleBlock.singlePageDescription
        p.description #{photo.description}
